header {
    background-color: #2e948a;
    display: flex;
    justify-content: space-around;
    height: 18vh;
  }
  
 
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    margin: 2rem;
  }
  
  nav li a {
    font-family: "Ubuntu";
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    color: #fdfdfd;
    text-transform: uppercase;
  }